{{#if enhanceable}}
    <div class="roll-enhanced">
        <div class="flex-row facets button-container">
            {{#each enhancer}}
                <button
                    class="facets"
                    data-action="enhance"
                    data-add="{{add}}"
                    {{disabledNot ../isAuthor}}
                >{{text}}</button>
            {{/each}}
        </div>
    </div>
{{/if}}
{{#if enhancedResult}}
    <div class="roll-enhanced">
        <div style="font-weight: bold; text-decoration: underline; margin: 5px">Enhanced!</div>
        <h4 class="facets-dice-total">{{enhancedResult.total}} - {{enhancedResult.tiers.localized}}</h4>
    </div>
{{/if}}