<header class="flexrow header">
    <img src="{{actor.img}}" class="profile-img" data-edit="img" data-action="editImg" />
    <div style="flex 1 1 auto;">
        <input
            type="text"
            name="name"
            class="name"
            value="{{actor.name}}"
            placeholder="{{localize 'Name'}}"
            {{readonly actor.system.locked}}
        />
        <div style="padding-top: 5px; padding-bottom: 5px" class="doom form-group">
            <label for="doom">Doom</label>
            {{formInput systemFields.doom value=system.doom}}
        </div>

    </div>

    {{#if user.isGM}}
        <div style="flex: 0">
            <button type="button" data-action="toggleLock" class="icon" data-tooltip="FACETS.Sheet.Actor.Party.Lock.Label">
                {{#if actor.system.locked}}
                    <i class="fa-solid fa-lock"></i>
                {{else}}
                    <i class="fa-solid fa-lock-open"></i>
                {{/if}}
            </button>

            {{#if activeParty}}
                <button
                    type="button"
                    class="icon"
                    data-tooltip="FACETS.Sheet.Actor.Party.Check.AlreadyActive"
                    style="margin-top: 5px;"
                    aria-readonly="true"
                    disabled="true"
                >
                    <i class="fa-solid fa-check"></i>
                </button>
            {{else}}
                <button
                    type="button"
                    class="icon"
                    data-action="setActiveParty"
                    data-tooltip="FACETS.Sheet.Actor.Party.Check.Label"
                    style="margin-top: 5px;"
                    {{#if actor.system.locked}}disabled="true"{{/if}}
                >
                    <i class="fa-solid fa-check"></i>
                </button>
            {{/if}}
        </div>

    {{/if}}
</header>